@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello</h1>

<p>A few pages demonstrating some number manipulation, basically.</p>

<h3>Kaprekar's Constant</h3>

<p>Kaprekar's routine is an iterative algorithm named after its inventor, Indian mathematician D. R. Kaprekar.
    Each iteration starts with a number, sorts the digits into descending and ascending order, and calculates the difference between the two new numbers.
</p>

<p>From <a href="https://en.wikipedia.org/wiki/Kaprekar%27s_routine" target="_blank">Wikipedia</a></p>

<h3>Palindromic Numbers</h3>

<p>
    Demonstrates the generation of palindromic numbers from 10 to 1,000 (not much point in numbers below 10) and shows the differences between them.
    There doesn't really seem to be a pattern that enables the prediction of the next occurrance of a palindrome,
    unlike (say) the difference between two consecutive squares.
</p>

<h3>Password Strength</h3>

<p>
    A quick look at how the strength of a password changes with different combinations of upper and lower case letters, and numbers.
</p>
