@page "/passwordstrength"
@rendermode InteractiveServer

<PageTitle>Password Strength</PageTitle>

<h3>Password Strength</h3>

<p>Select the required characteristics of your password.</p>

<label>Require Lower Case</label>

<InputCheckbox disabled="true" @bind-Value="PasswordPropertiesSelected.RequireLowerCase" @bind-Value:after="ShowPasswordCombinations" />

<br />
<br />

<label for="chkRequireUpperCase">Require Upper Case</label>

<InputCheckbox id="chkRequireUpperCase" @bind-Value="PasswordPropertiesSelected.RequireUpperCase" @bind-Value:after="ShowPasswordCombinations" />

<br />
<br />

<label for="chkRequireNumbers">Require Numbers</label>

<InputCheckbox id="chkRequireNumbers" @bind-Value="PasswordPropertiesSelected.RequireNumbers" @bind-Value:after="ShowPasswordCombinations" />

<br />
<br />

<label>Number of characters</label>

<InputSelect @bind-Value="PasswordPropertiesSelected.NumberOfCharacters" @bind-Value:after="ShowPasswordCombinations">
    @for (var i = 5; i <= 10; i++)
    {
        <option value="@i">@i</option>
    }
</InputSelect>

<br />
<br />

<p>There are <span style="font-weight: bold">@NumberOfPermutations</span> combinations possible with your selected criteria.</p>

