@page "/palindromicnumbers"

<PageTitle>Palindromic Numbers</PageTitle>

<h3>Palindromic Numbers</h3>

<p>A list of all the palindromic numbers between 10 and 1000 and the difference between the current and previous numbers.</p>

<p style="white-space: pre-line">@Output</p>